@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.app{
  display: flex;
  width:100vw;
  height:100vh;
  gap: 2rem;
}
