@import "../../variables.css";

.dashboard-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  align-items: center;
  background-color: var(--primary-color);
  padding: var(--large-padding);
  gap: var(--large-padding);
  font-size: var(--medium-font-size);
  font-weight: var(--medium-font-weight);
  font-family: var(--primary-font);
}

.dashboard-title {
  font-size: var(--xx-large-font-size);
}

.select-type {
  display: flex;
  gap: var(--medium-padding);
  align-items: center;
  justify-content: center;
}

.checkbox-label {
  display: flex;
  align-items: center;
  gap: var(--small-padding);
  cursor: pointer;

  &:hover {
    color: var(--quaternary-color);
  }
}

.checkbox-input {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--primary-color);
  border: 2px solid var(--secondary-color);
  cursor: pointer;
}

.writing-input {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--medium-padding);
  padding: var(--medium-padding);
  font-size: var(--medium-font-size);
  font-weight: var(--medium-font-weight);
  font-family: var(--primary-font);
}

.textarea {
  display: block;
  width: 100%;
  overflow: hidden;
  resize: both;
  min-height: 100px;
  line-height: 20px;
  padding: var(--medium-padding);
  border: 2px solid var(--tertiary-color);
  border-radius: var(--small-border-radius);
  resize: none;

  &:focus-visible {
    outline: none;
  }
}

.textarea[contenteditable]:empty::before {
  content: "Bir şey yazın...";
  color: gray;
  cursor: text;
}
