@import "../../variables.css";

.dashboard-page{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    align-items: center;
    background-color: var(--primary-color);
    padding: var(--large-padding);
    gap: var(--large-padding);
}

.dashboard-title{
    font-size: var(--xx-large-font-size);
    font-weight: var(--medium-font-weight);
    font-family: var(--primary-font);
}