@import "../../variables.css";

.dashboard-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: calc(100vw - var(--sidebar-width));
  margin-left: var(--sidebar-width);
  align-items: center;
  padding: var(--large-padding);
  gap: var(--xxx-large-gap);
  font-size: var(--medium-font-size);
  font-weight: var(--medium-font-weight);
  font-family: var(--primary-font);
}

.dashboard-title {
  font-size: var(--xx-large-font-size);
}

.select-type {
  display: flex;
  gap: var(--medium-padding);
  align-items: center;
  justify-content: center;
}

.writing-input {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--medium-padding);
  padding: var(--medium-padding);
  font-size: var(--medium-font-size);
  font-weight: var(--medium-font-weight);
  font-family: var(--primary-font);
}

.textarea {
  display: block;
  width: 100%;
  overflow: hidden;
  resize: both;
  min-height: 100px;
  line-height: 20px;
  padding: var(--medium-padding);
  border: 2px solid var(--tertiary-color);
  border-radius: var(--small-border-radius);
  resize: none;

  &:focus-visible {
    outline: none;
  }
}

.textarea[contenteditable]:empty::before {
  content: "Bir şey yazın...";
  color: gray;
  cursor: text;
}

.gpt-output {
  display: flex;
  padding: var(--medium-padding);
  font-size: var(--medium-font-size);
  font-weight: var(--medium-font-weight);
  border: 1px solid var(--tertiary-color);
  border-radius: var(--medium-border-radius);
  width: 100%;
}
